@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100;1,700;1,900&display=swap');
* {
        margin: 0;
        padding: 0;
}
  
@font-face {
    font-family:'digital-7-font';
    src: url('fonts/digital-7.regular.ttf');
 }

body {
    font-family: 'Exo 2', sans-serif;
    background: lightgray url(images/bg.jpg) center top ;
  
}

.container{
    width: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.tempo{
    border-radius: 20px;
    /* background: rgba(3,94,232,0.9); */
    background: rgba(151,0,204,0.8);
    /* border: 2px solid; */
    width: 510px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#cronometro {
    width: 510px;
    font-size: 100px;
    font-family:'digital-7-font';
    font-weight: bold;
    /* border: 2px solid red; */
    color: rgb(45,226,230);

}
.number{
    /* border: 2px solid lime; */
    display: inline-block;
    min-width: 0.99em; 
    justify-content: center;
    padding: 0;
}
#hour {
    margin-left: 35px;
}

#botoes {
    width: 450px;
    /* border: 2px solid; */
    padding: 10px 30px;
    text-align: center;
   
}

.btn {
    width: 105px; 
    height: 50px;
    background: rgba(34, 39, 69,0.9);
    border: none;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    /* border: 2px solid #5070b1; */
    cursor: pointer;
    color: rgb(3,94,232);
    transition-duration: 0.4s;
    outline: none;
}

.btn:hover { 
    opacity: 30%;
}

#laps{
    visibility: hidden;
    width: 510px;
    /* font-family:'digital-7-font'; */
    margin-top: 20px;
    text-align: center;
    background: rgba(151,0,204,0.5);
    /* background: green; */
    border-radius: 10px;
}

#laps h1{
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 10px;
    /* color: white; */
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

}

#lap-times {
    margin: auto;
    color: #3FE5FC ;
    font-size: 1.5em;
    font-weight: bold;
}